<div class="container-fluid">	
	
	<a href="#/manager-libro/0" class="btn btn-primary"><i>Nuevo libro</i></a>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>ISBN</th>
				<th>Titulo</th>
				<th>Autor</th>
				<th>Tema</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>

			<tr data-ng-show="allLibros.length == 0">
				<td colspan="5" class="warning">No hay registros para mostrar</td>
			</tr>

			<tr data-ng-repeat="libro in allLibros">
				<td>{{ libro.isbn }}</td>
				<td>{{ libro.titulo }}</td>
				<td>{{ libro.autor }}</td>
				<td>{{ libro.categoria }}</td>
				<td>
					<a href="#/manager-libro/{{ libro.idLibro }}" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i></a>
					<a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>