<div class="container-fluid">
	<h3>Registar un nuevo libro</h3>
	
	<div class="well">
		<form>
	  
			<div class="form-group">
				<label for="isbn">ISBN</label>
				<input type="text" class="form-control" id="isbn" placeholder="ISBN">
			</div>

			<div class="form-group">
				<label for="Titulo">Titulo</label>
				<input type="text" class="form-control" id="isbn" placeholder="Titulo">
			</div>
			
			<div class="form-group">
				<label for="Autor">Autor</label>
				<input type="text" class="form-control" id="autor" placeholder="Autor">
			</div>
			
			<div class="form-group">
				<label for="Categoria">Categoria</label>
				<input type="text" class="form-control" id="categoria" placeholder="Categoria">
			</div>
			
			<div class="form-group">
				<button class="btn btn-success">Registrar</button>
				<a class="btn btn-info" href="#/libro">Cancelar</a>
			</div>
			
		</form>
	</div>	

</div>